/* Fonts */
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Poppins:700');

/* Fontawesome */
@import url('https://use.fontawesome.com/releases/v5.6.3/css/all.css');

/* Utilities */
body {
  margin: 0;
  font-family: Open Sans;
}

h1, h2, h3, h4 {
  font-family: Poppins;
}

a {
  text-decoration: none;
}

.banner {
  width: 100%;
  height: 500px;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.container {
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container h1{
  color: white;
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.container p {
  color: white;
  text-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.container a {
  color: white;
}


.banner-img {
  width: 500px;
  height: 500px;
}

.btn-airbnb {
  background-color: #6AD58B;
  color: white;
  padding: 12px 22px;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 19px;
}

.btn-airbnb:hover {
  background-color: #5BC262;
  transition: background 1s ease;
}


.card-holder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.cards {
  color: black;
  display: flex;
  align-items: center;
 /* justify-content: space-evenly;*/
  width: 90%;
  height: 500px;
  justify-content: space-between;
  border-radius: 5px;
}

.card-holder h2 {
  text-align: center;
  color: black;
  margin-top: 60px;
}

.card-holder a {
  color: #808080;
}

.card {
  color: black;
  display: flex;
  align-items: center;


}

#card-1-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}

#card-2-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}

#card-3-img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 5px;
}


.card-1 {
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  background-color: white;
  /*padding: 15px;*/
  width: 300px;
  height: 350px;
  text-align: center;
  border-radius: 5px;


}

.card-2 {
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  background-color: white;
  /*padding: 15px;*/
  width: 300px;
  height: 350px;
  text-align: center;
  border-radius: 5px;

}

.card-3 {
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
  background-color: white;
  /*padding: 15px;*/
  width: 300px;
  height: 350px;
  text-align: center;
  border-radius: 5px;

}

.footer {
  background-color: #162A37;
  width: 100%;
  height: 150px;
  /*display: flex;
  align-items: center;
  justify-content: space-between;*/
}

.list-inline {
  list-style: none;
  width: 95%;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
/*  width: 100%;
  height: 250px;*/
}
/*
.list-inline > li {
  display: inline-block;*/

.icon-grey {
  font-size: 32px;
  color: white;
  margin: 0 10px;
}

.icon-grey:hover{
  opacity: .5;
}

